.banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: $turq;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
    padding-top: 80px;
}
.arrow-container {
    margin-top: 100px;
}

.img-container img {
    display: block;
    object-fit: cover;
    width: 100%;
    padding: 0;
    margin: 0;
}

.arrow-container {
    width: 100%;
    text-align: center;
}

.arrow-container img:hover {
    cursor: pointer;
}

.mobile {
    display: none;
}

#cast{
    width: 200px;
    height: 500px;
    position: relative;
    animation: floatBubble 2s inifnate;
    animation-directon: normal;
    }
    
    
    @keyframes floatBubble{
     0% {
            top:0;
            -webkit-animation-timing-function: ease-in;
    
       }
    
    
       100% {
          top: 500px;
          animation-timing-function: ease-out;
       }
    
    }
