// *, input {
//     cursor: url(../new-coke-angled.png), auto;
// }


.wrapper {
    width: 100vw;
    height: 100vh;
    padding: 60px;
    background:  $turq;
    // background:  #530096;
}

.quiz-container {
    // width: 800px;
    width: 100%;
    padding: 40px;
    height: auto;
    // height: 600px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    border:8px solid $purp;
    border-radius: 10px;
    // background: white;
    background: $yell;
    text-align:left;
}

.capitalize {
    text-transform: uppercase;
}

form {
    width: 50%;
}

.answer {
    width: 45%;
    height: 420px;
    border:8px solid $purp;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    background: $orange;
    border-radius: 10px;
}

.tv-name {
    // margin-bottom: 10px;
    // padding-bottom: 10px;
    // border: 2px solid red;
}

.gif-container {
    width: 80%;
    height: 300px;
    margin: 30px auto 0;
    // margin: 0 auto;
    // border: 10px solid red;
    padding: 0;
    // visibility: hidden;
    // display: none;
    // background: #c200fb;
    border:4px solid $purp;
    border-radius: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#injured, #embarrassed {
    animation-name: rotate;
    animation: rotate 4s linear infinite;
    font-size: 3rem;
    margin: 0 60px;
    width: 80px;
    height: 80px;
}

// #embarrassed {
//     width: 60px;
//     height: 60px;
// }

@keyframes rotate {
    0% { transform: rotate(-15deg)};
    50% { transform: rotate(15deg)};
    100% { transform: rotate(-15deg)};
}

iframe {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    display: block;
    margin-bottom: 0;
    // background-clip: border-box;
}

#submit-button, #intensity-button {
    padding: 7px 20px;
    background: $orange;
    color: $purp;
    border: 4px solid $purp;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

#submit-button {
    margin-top: 20px;
}

.second-question, .third-question, .fourth-question {
    display: none;
}

.answer {
    margin-top: 20px;
}