article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 160px;
  line-height: 160px;
  color: #ffeb2b;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: -1px 1px #530096, -2px 2px #530096, -3px 3px #530096, -4px 4px #530096, -5px 5px #ffeb2b, -6px 6px #530096, -7px 7px #530096, -8px 8px #530096, -9px 9px #ffeb2b, -10px 10px #530096, -11px 11px #530096, -12px 12px #530096, -13px 13px #ffeb2b, -14px 14px #530096, -15px 15px #530096, -16px 16px #530096, -17px 17px #ffeb2b, -18px 18px #530096; }

h2 {
  font-family: 'Sigmar One', cursive;
  color: #530096;
  font-size: 35px;
  margin: 5px 0 0 0; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #530096; }

label {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #ff6936; }

.banner-grid {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
  border-bottom: 10px solid #530096;
  -ms-grid-rows: 33.33% 33.33% 33.34;
  grid-template-rows: 33.33% 33.33% 33.34; }
  .banner-grid .one {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    background-image: url(../images/ice.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .two {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
    background-image: url(../images/skateboard.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .three {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    background-image: url(../images/karate-fail.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .four {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 1;
    grid-row: 1;
    max-width: 100%;
    background-image: url(../images/basketball.gif);
    background-repeat: no-repeat;
    background-size: cover; }
  .banner-grid .five {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    background-image: url(../images/sinkhole.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .six {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    max-width: 100%;
    background-image: url(../images/baby-fork.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .seven {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
    max-width: 100%;
    background-image: url(../images/toilet.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .eight {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
    max-width: 100%;
    background-image: url(../images/walmart.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .nine {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
    max-height: 100%;
    background-image: url(../images/gas.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .ten {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
    max-height: 100%;
    background-image: url(../images/granny.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .eleven {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 3;
    grid-row: 3;
    max-height: 100%;
    background-image: url(../images/garbage-truck.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }
  .banner-grid .twelve {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 3;
    grid-row: 3;
    max-height: 100%;
    background-image: url(../images/ninja.gif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%; }

.banner-overlay {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/ span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/ span 3;
  z-index: 10;
  background: rgba(83, 0, 150, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 80px; }

.img-container img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  padding: 0;
  margin: 0; }

.arrow-container {
  width: 100%;
  text-align: center; }
  .arrow-container i {
    font-size: 6rem;
    color: #ffeb2b;
    border: 10px solid #530096;
    border-radius: 50%; }

.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 60px;
  background: #16f0f7; }

.quiz-container {
  width: 100%;
  padding: 40px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  border: 8px solid #530096;
  border-radius: 10px;
  background: #ffeb2b;
  text-align: left; }

.capitalize {
  text-transform: uppercase; }

form {
  width: 50%; }

.answer {
  width: 45%;
  height: 420px;
  border: 8px solid #530096;
  text-align: center;
  background: #ff6936;
  border-radius: 10px; }

.gif-container {
  width: 80%;
  height: 300px;
  margin: 30px auto 0;
  padding: 0;
  border: 4px solid #530096;
  border-radius: 10px; }
  .gif-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

#injured, #embarrassed {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
  font-size: 3rem;
  margin: 0 60px;
  width: 80px;
  height: 80px; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  100% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg); }
  100% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

iframe {
  min-width: 100%;
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: block;
  margin-bottom: 0; }

#submit-button, #intensity-button {
  padding: 7px 20px;
  background: #ff6936;
  color: #530096;
  border: 4px solid #530096;
  border-radius: 5px;
  font-family: 'Lato', sans-serif; }

#submit-button {
  margin-top: 20px; }

.second-question, .third-question, .fourth-question {
  display: none; }

.answer {
  margin-top: 20px; }
