article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 160px;
  line-height: 160px;
  color: #ffeb2b;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: -1px 1px #530096, -2px 2px #530096, -3px 3px #530096, -4px 4px #530096, -5px 5px #ffeb2b, -6px 6px #530096, -7px 7px #530096, -8px 8px #530096, -9px 9px #ffeb2b, -10px 10px #530096, -11px 11px #530096, -12px 12px #530096, -13px 13px #ffeb2b, -14px 14px #530096, -15px 15px #530096, -16px 16px #530096, -17px 17px #ffeb2b, -18px 18px #530096; }

h2 {
  font-family: 'Sigmar One', cursive;
  color: #530096;
  font-size: 35px;
  margin: 5px 0 0 0; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  color: #530096; }

label {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #ff6936; }

h3 {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
  line-height: 100px;
  margin: 40px; }

.banner {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #16f0f7;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 80px; }

.arrow-container {
  margin-top: 100px; }

.img-container img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  padding: 0;
  margin: 0; }

.arrow-container {
  width: 100%;
  text-align: center; }

.arrow-container img:hover {
  cursor: pointer; }

.mobile {
  display: none; }

#cast {
  width: 200px;
  height: 500px;
  position: relative;
  -webkit-animation: floatBubble 2s inifnate;
  animation: floatBubble 2s inifnate;
  animation-directon: normal; }

@-webkit-keyframes floatBubble {
  0% {
    top: 0;
    -webkit-animation-timing-function: ease-in; }
  100% {
    top: 500px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes floatBubble {
  0% {
    top: 0;
    -webkit-animation-timing-function: ease-in; }
  100% {
    top: 500px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 60px;
  background: #16f0f7; }

.mobile {
  display: none; }

.quiz-container {
  width: 100%;
  padding: 40px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto;
  border: 8px solid #530096;
  border-radius: 10px;
  background: #ffeb2b;
  text-align: left; }

.capitalize {
  text-transform: uppercase; }

form {
  width: 50%; }

.answer {
  margin-top: 20px;
  width: 45%;
  height: 420px;
  border: 8px solid #530096;
  text-align: center;
  background: #ff6936;
  border-radius: 10px; }

.gif-container {
  width: 80%;
  height: 300px;
  margin: 30px auto 0;
  padding: 0;
  border: 4px solid #530096;
  border-radius: 10px; }
  .gif-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

#submit-button, #intensity-button {
  padding: 7px 20px;
  background: #ff6936;
  color: #530096;
  border: 4px solid #530096;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

#submit-button:hover, #intensity-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75); }

#submit-button:active, #intensity-button:active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-shadow: 3px 2px 1px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 2px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 1px 0px rgba(0, 0, 0, 0.75); }

#submit-button {
  margin-top: 20px; }

.second-question, .third-question, .fourth-question {
  display: none; }

.start-over-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffeb2b;
  top: 0;
  text-align: center;
  padding-top: 20px;
  display: none; }
  .start-over-container h3 {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
    color: #530096; }
  .start-over-container #start-over {
    height: 200px; }
  .start-over-container #start-over-label {
    display: block; }
  .start-over-container img:hover, .start-over-container label:hover {
    cursor: pointer; }

@media only screen and (max-width: 1230px) {
  h1 {
    font-size: 140px;
    line-height: 140px; }
  .answer {
    width: 40%; }
  form {
    width: 55%; } }

@media only screen and (max-width: 1140px) {
  .wrapper {
    height: auto;
    padding-bottom: 40px; }
  .quiz-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px; }
  form {
    width: 80%;
    text-align: center; }
  .answer {
    margin-top: 40px;
    width: 80%;
    height: 500px; }
  .gif-container {
    height: 360px; } }

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 120px;
    line-height: 120px; }
  .arrow-container i {
    font-size: 5rem; } }

@media only screen and (max-width: 860px) {
  h1 {
    font-size: 110px;
    line-height: 130px; }
  .title {
    display: none; }
  .mobile {
    display: block; }
    .mobile span {
      display: block; }
  .answer, form {
    width: 90%; } }

@media only screen and (max-width: 620px) {
  .wrapper {
    padding: 30px; }
  form {
    width: 100%; }
  .answer {
    width: 100%;
    height: 460px; }
    .answer .gif-container {
      height: 320px; }
  h2 {
    font-size: 30px;
    margin-top: 10px; } }

@media only screen and (max-width: 520px) {
  .quiz-container {
    padding: 20px; }
  h1 {
    font-size: 80px;
    line-height: 100px; }
  .answer {
    height: 400px; }
    .answer .gif-container {
      height: 280px; }
  h3 {
    font-size: 60px;
    line-height: 80px; } }

@media only screen and (max-width: 440px) {
  h2 {
    font-size: 24px; }
  .answer {
    height: 360px; }
    .answer .gif-container {
      height: 240px; }
  h3 {
    font-size: 50px;
    line-height: 65px; } }

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 70px;
    line-height: 90px; }
  .answer {
    height: 320px; }
    .answer .gif-container {
      height: 200px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 40px;
    line-height: 50px; } }
